<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>
<HEAD>
	
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.2.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Wagner, Lucy M.">
	<META NAME="CREATED" CONTENT="20130619;18420500">
	<META NAME="CHANGEDBY" CONTENT="tom ">
	<META NAME="CHANGED" CONTENT="20130903;12115000">
	<META NAME="AppVersion" CONTENT="12.0000">
	<META NAME="Company" CONTENT="Hewlett-Packard Company">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	
	<STYLE>
		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-family:"Calibri"; font-size:x-small }
		 -->
	</STYLE>
	
</HEAD>

<BODY TEXT="#000000">
<TABLE CELLSPACING="0" COLS="6" BORDER="0">
	<COLGROUP WIDTH="108"></COLGROUP>
	<COLGROUP SPAN="5" WIDTH="240"></COLGROUP>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="CENTER" VALIGN=TOP SDNUM="1033;1033;MMM D, YY"><B>DATE</B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="1033;1033;General"><B>Unit</B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="1033;1033;@"><B>Year One<BR>Collins</B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="1033;1033;@"><B>Year Two<BR>Powell</B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="1033;1033;@"><B>Year Three<BR>MacCullough</B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="1033;1033;@"><B>Year Four<BR>Allen, Sedgwick, Peace</B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFF00" SDVAL="41527" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Sep 10, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFF00" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Introductory Meeting</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFF00" SDNUM="1033;1033;General"><FONT COLOR="#000000">Norms,  Housekeeping</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFF00" SDNUM="1033;1033;General"><FONT COLOR="#000000">Norms,  Housekeeping</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFF00" SDNUM="1033;1033;General"><FONT COLOR="#000000">Norms,  Housekeeping</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFF00" SDNUM="1033;1033;General"><FONT COLOR="#000000">Norms,  Housekeeping</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="56" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFCC99" SDVAL="41534" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Sep 17, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFCC99" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Unit One<BR>Listening and Spiritual Autobiographies</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE BGCOLOR="#FFCC99" SDNUM="1033;1033;General"><FONT COLOR="#000000">Common Readings<BR>Listening as Ministry<BR>Spiritual Autobiographies</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41541" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Sep 24, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Preface, Introduction<BR>1 Near Eastern Context<BR>2 Nature of the Pentateuchal Narrative</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Preface<BR>1 New Testament World<BR>2 New Testament Writings</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Acknowledgements<BR>Introduction<BR>1 Greece and Rome</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>Preface<BR>Introduction: What is Theology?</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41548" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Oct 1, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Genesis 1 - 11<BR>3 Primeval History</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">3 Jesus<BR>4 Gospels</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">2 Israel</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>1 Holy One of Israel</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41555" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Oct 8, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Genesis 1:1 - 2:4 The Priestly Creation Story</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Matthew</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">3 A Crucified Messiah</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>A Holiness for Today</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41562" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Oct 15, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Genesis 12 - 50<BR>4 The Patriarchs</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">5 Matthew</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">4 Boundaries Defined</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>3 The Maker of Heaven and Earth<BR>4 Limits of Science</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41569" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Oct 22, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Exodus 1 -15<BR>5 Exodus from Egypt</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Mark<BR>6 Mark</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">5 The Prince: Ally or Enemy?</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>5 What is Meant by &quot;God&quot;</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="38" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#AECF00" SDVAL="41576" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Oct 29, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#AECF00" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Unit Two<BR>Reflecting Theologically</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE BGCOLOR="#AECF00" SDNUM="1033;1033;General"><FONT COLOR="#000000">Common Reading<BR>Theological Reflection in Life and Ministry</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="36" ALIGN="RIGHT" VALIGN=BOTTOM BGCOLOR="#FFFFCC" SDVAL="41583" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Nov 5, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Exodus 16 - 40<BR>6 Revelation at Sinai</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Luke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">6 The Imperial Church</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>6 Nature as Witness</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="71" ALIGN="RIGHT" VALIGN=BOTTOM BGCOLOR="#FFFFCC" SDVAL="41590" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Nov 12, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Leviticus<BR>* Numbers<BR>7 Priestly Theology: Exodus 25 - 40, Leviticus &amp; Numbers</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">7 Luke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">7 Defying Chalcedon: Asia &amp; Africa</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>7 Innocent Suffering &amp; Life Beyond Death</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="55" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Deuteronomy<BR>8 Deuteronomy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* John</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">8 Islam: The Great Realignment</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>8 Suffering from Nature and Extreme Human Cruelty</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="55" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41597" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Nov 19, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Joshua<BR>* Judges</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">8 John</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">9 The Making of Latin Christianity</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>9 The Sacrifice in Creation: DuBose on the Trinity</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#D9D9D9" SDVAL="41604" SDNUM="1033;1033;MMM D, YY"><B><FONT COLOR="#000000">Nov 26, 13</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Thanksgiving Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Thanksgiving Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000"><BR></FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000"><BR></FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000"><BR></FONT></B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41611" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Dec 3, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">9 Joshua<BR>10 Judges</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Acts of the Apostles<BR>9 Acts</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">10 Latin Christendom: New Frontiers</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>10 The Incarnation as Sacrifice</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP SDVAL="41618" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Dec 10, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Interlude</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP SDVAL="41625" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Dec 17, 13</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Interlude</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Bryan, And God Spoke</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#D9D9D9" SDVAL="41632" SDNUM="1033;1033;MMM D, YY"><B><FONT COLOR="#000000">Dec 24, 13</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#D9D9D9" SDVAL="41639" SDNUM="1033;1033;MMM D, YY"><B><FONT COLOR="#000000">Dec 31, 13</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Christmas Break</FONT></B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="56" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FF8080" SDVAL="41646" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Jan 7, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FF8080" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Unit Three<BR>Developing a Sustaining Spirituality</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE BGCOLOR="#FF8080" SDNUM="1033;1033;General"><FONT COLOR="#000000">Common Readings<BR>The Spiritual Person<BR>Worship as Ministry and Ministry as Worship</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="55" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41653" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Jan 14, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Psalms</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">10 New Testament Letters<BR>11 Paul</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">11 The West</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>11 The Temptation in the Wilderness</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41660" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Jan 21, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Song of Songs<BR>23 Psalms &amp; Song of Songs</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Romans</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">12 A Church for All People?</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>12 The Sacrifice of the Cross</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="55" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41667" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Jan 28, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Proverbs<BR>24 Proverbs</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">12 Romans</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">13 Faith in New Rome</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>13 The Resurrection of Jesus and Eternal Life</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="55" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41674" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Feb 4, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Job<BR>* Ecclesiastes (Qoheleh)<BR>25 Job &amp; Qoheleh</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Hebrews<BR>23 Hebrews</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">14 Orthodoxy: More Than An Empire</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>14 Jesus as Lord and Jesus as Servant</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41681" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Feb 11, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Ruth<BR>* Jonah<BR>* Esther<BR>26 The Hebrew Short Story</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Peter<BR>* 2 Peter<BR>25 1 Peter<BR>26 2 Peter</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">15 Russia: The Third Rome</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>15 Revelation and Faith</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="56" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#E6B9B8" SDVAL="41688" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Feb 18, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#E6B9B8" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Unit Four<BR>Integrating Belief &amp; Behavior</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE BGCOLOR="#E6B9B8" SDNUM="1033;1033;General"><FONT COLOR="#000000">Common Reading<BR>Building a Theology Integrating Belief, Behavior, and Doctrine</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41695" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Feb 25, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Samuel<BR>* 2 Samuel<BR>11 First Samuel<BR>12 Second Samuel</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Philemon<BR>* Jude<BR>22 Philemon<BR>28 Jude</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">16 Perspectives on the True Church</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>16 The Holy Spirit, the Church, and the Sacraments</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41702" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Mar 4, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Kings<BR>* 2 Kings<BR>13 First Kings 1 - 16<BR>14 First Kings 17 - 2 Kings 25</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Philippians<BR>* Colossians<BR>17 Philippians<BR>18 Colossians</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">17 A House Divided</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Allen<BR>17 Sin, Evil, and Hope for the Future<BR>Epilogue</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41709" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Mar 11, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Ezra<BR>* Nehemiah<BR>21 Ezra &amp; Nehemiah</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Timothy<BR>* 2 Timothy<BR>* Titus<BR>21 Pastoral Letters</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">18 Rome's Renewal</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Sedgwick<BR>Preface, Introduction<BR>1 Describing the Christian Life<BR>2 An Anglican Perspective</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41716" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Mar 18, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Chronicles<BR>* 2 Chronicles<BR>22 The Books of Chronicles</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Thessalonians<BR>* 2 Thessalonians<BR>19 1 Thessalonians<BR>20 2 Thessalonians</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">19 A Worldwide Faith</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Sedgwick<BR>3 Incaranate Love<BR>4 Love and Justice</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41723" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Mar 25, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Amos<BR>* Hosea<BR>15 Amos &amp; Hosea</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* James<BR>24 James</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">20 Protestant Awakenings</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Sedgwick<BR>5 The Practices of Faith<BR>6 The Call of God<BR>Appendix</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP SDVAL="41730" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Apr 1, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Interlude</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP SDVAL="41737" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Apr 8, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Interlude</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><FONT COLOR="#000000">Countryman: Living on the Border of the Holy</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#D9D9D9" SDVAL="41744" SDNUM="1033;1033;MMM D, YY"><B><FONT COLOR="#000000">Apr 15, 14</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Holy Week Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Holy Week Break</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000"><BR></FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000"><BR></FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#D9D9D9" SDNUM="1033;1033;General"><B><FONT COLOR="#000000"><BR></FONT></B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="56" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#CCC1DA" SDVAL="41751" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Apr 22, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#CCC1DA" SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Unit Five<BR>Hearing &amp; Responding to God's Call</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE BGCOLOR="#CCC1DA" SDNUM="1033;1033;General"><FONT COLOR="#000000">Common Reading<BR>Vocation: Hearing and Responding to God's Call</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41758" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Apr 29, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Micah<BR>* Isaiah 1 - 39<BR>Excerpt: Collins on Micah<BR>16 Isaiah</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Galatians<BR>15 Galatians</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">21 Enlightenment: Ally or Enemy?</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Peace, Rose, Mobley<BR>Foreward<BR>Introduction<BR>1 Encountering the Neighbor</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41765" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">May 6, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Isaiah 40 - 66<BR>19 Additions to Isaiah</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 Corinthians<BR>* 2 Corinthians<BR>13 1 Corinthians<BR>14 2 Corinthians</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">22 Europe: Re-enchanted or Disenchanted?</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Peace, Rose, Mobley<BR>2 Viewing Home Anew<BR>3 Redrawing Our Maps</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="55" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41772" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">May 13, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Jeremiah<BR>* Lamentations<BR>17 The Babylonian Era</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Ephesians<BR>16 Ephesians</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">23 To Make the Word Protestant</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Peace, Rose, Mobley<BR>4 Unpacking Our Belongings<BR>5 Stepping Across the Line</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="74" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41779" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">May 20, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* Ezekiel<BR>18 Ezekiel</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* 1 John<BR>* 2 John<BR>* 3 John<BR>27 Johannine Letters</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">24 Not Peace but a Sword</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Peace, Rose, Mobley<BR>6 Finding Fellow Travelers</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="37" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#FFFFCC" SDVAL="41786" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">May 27, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000"><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">20 Postexilic Prophecy<BR>29 From Tradition to Canon</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">* The Revelation to John<BR>29 Revelation</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">25 Culture Wars</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP BGCOLOR="#FFFFCC" SDNUM="1033;1033;General"><FONT COLOR="#000000">Peace, Rose, Mobley<BR>7 Repairing Our Shared World</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" HEIGHT="19" ALIGN="RIGHT" VALIGN=TOP BGCOLOR="#E6E0EC" SDVAL="41793" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Jun 3, 14</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Closing Celebration</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Closing Celebration</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Closing Celebration</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Closing Celebration</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=TOP SDNUM="1033;1033;General"><B><FONT COLOR="#000000">Closing Celebration</FONT></B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 HEIGHT="71" ALIGN="CENTER" VALIGN=MIDDLE BGCOLOR="#E6E0EC" SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000">Notes:<BR>1.  All enrolled participants read the Common Readings at the beginning of each unit.<BR>2.  Assignments for Years One and Two marked with an asterisk are readings in the Bible.  Chapters in the readings are numbered.  <BR>3.  Readings in each of the the texts for Year Four are indicated by the name of the author(s).</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=1021 HEIGHT="97" ALIGN="LEFT" VALIGN=BOTTOM SDNUM="1033;1033;MMM D, YY"><FONT COLOR="#000000"><BR></FONT></TD>
		</TR>
</TABLE>
<!-- ************************************************************************** -->
</BODY>

</HTML>
